<div class="card card-body">
    {{#if message}}
    <div class="alert {{messageClass}}" role="alert">
        {{message}}
    </div>
    {{/if}}
    <h3>Detail Task - Todo</h3>
    {{#each todos}}
        <div class="form-group">
            <label for="title">Activity / Task</label>
            <input class="form-control" value="{{ title }}" name="title" type="text" placeholder="Belajar Node JS" disabled/>
        </div>
        <div class="form-group">
            <label for="descTask">Description</label>
            <textarea class="form-control" name="descTask" type="text" disabled>{{ desc }}</textarea>
        </div>
        <div class="form-group">
            <label for="dueDate">Deadline</label>
            <input class="form-control" value="{{ dueDate }}" name="dueDate" type="text" placeholder="1 Jul 2022"disabled />
        </div>
    {{/each}}

</div>