<div class="card card-body">
    {{#if message}}
    <div class="alert {{messageClass}}" role="alert">
        {{message}}
    </div>
    {{/if}}
    <h3>Detail Task - Todo</h3>
    {{#each todos}}

    <form action="/todo/edit" method="POST">
        <div class="form-group">
            <label for="title">Kegiatan / Task</label>
            <input class="form-control" value="{{ title }}" name="title" type="text" placeholder="Belajar Node JS" required />
        </div>
        <div class="form-group">
            <label for="descTask">Deskripsi Kegiatan</label>
            <textarea class="form-control" value="{{ descTask }}" name="descTask" type="text" placeholder="Deskripsi Task Anda"
                required></textarea>
        </div>
        <div class="form-group">
            <label for="dueDate">Deadline</label>
            <input class="form-control" value="{{ dueDate }}" name="dueDate" type="text" placeholder="1 Jul 2022" required />
        </div>
        <input type="hidden" value="{{_id}}" name="id" />
    </form>
    {{/each}}

</div>